<p id="notice"><%= notice %></p>


<p>
  <strong>Bio:</strong>
  <%# @profile.bio %>
<%= best_in_place @profile, :bio %>
</p>

<p>
  Invite a friend :
</p>
<%= form_tag(pending_invites_new_path, method:"get") do %>
<%= label_tag(:email , "Friends Email address:") %>
<%= text_field_tag(:email) %>
<%= submit_tag("Submit") %>
<% end %>
<p> 
  Pending Invites 
</p>
<table id = 'ToInvites' >
  <tr>
    <th>Name </th>
    <th>date</th>
  </tr>
<% PendingInvites.where("user2_id = ?" , current_user.id ).each  do |p|%>
  <tr>
    <td> <%= p.user.name %> </td> <td> <%= p.created_at %> </td>
  </tr>
<% end %>
</table>
<div id ="div1">
<p>
  Invitations from Others
</P>
<table id = 'FromInvites' >
  <tr>
    <th>Name </th>
    <th>Accept</th>
  </tr>
<% PendingInvites.where("user_id = ?" , current_user.id ).each  do |p|%>
  <tr>
    <td><%= p.user2.name %> </td> <td> <%= link_to 'Accept', pending_invite_accept_path(p) %></td>
  </tr>
<% end %>
</table>
</div>
<p>
  Friends
</p>
<table id = "friends" >
  <tr>
    <th> Name </th>
    <th> Manage </th>
  </tr>
<% current_user.friends.each do |f| %>
  <tr>
    <td> <%= f.name %> </td>
    <td> remove </td>
  </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
