<%= form_for(@scene) do |f| %>
  <% if @scene.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scene.errors.count, "error") %> prohibited this scene from being saved:</h2>

      <ul>
      <% @scene.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_area :summary %>
  </div>
  <div class="field" id="mce_content">
    <%= f.label :content %><br>
    <%= f.text_area( :content, class: "mcecontent")%>
  </div>
  <div class="field">
    <%= f.hidden_field  :novel_id , value: params[:novel_id] %> <BR>
    </div>
  <%= label_tag "characters", "Characters" %><BR>
  <% @allCharacters=Character.all %>
<%= select_tag("characters", options_from_collection_for_select(@allCharacters, "id" ,"name"), multiple: true)      %><BR>
<%= label_tag "locations", "Location" %><BR>
  <% @allLocations=Location.all %>
<%= select_tag("locations", options_from_collection_for_select(@allLocations, "id" ,"name"))      %>

    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
