<h1>Listing scenes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Order</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @scenes.each do |scene| %>
      <tr>
        <td><%= scene.title %></td>
        <% #http://stackoverflow.com/questions/3932267/dont-escape-html-in-ruby-on-rails %>
        <td><%= scene.content.html_safe %></td>
        <td><%= scene.order %></td>
  <td><%= link_to 'Show', novel_scene_path(:id => scene, :novel_id => session[:current_novel]) %></td>
  <td><%= link_to 'Edit', edit_novel_scene_path(:id => scene, :novel_id => session[:current_novel]) %></td>
        <td><%= link_to 'Destroy', scene, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scene', new_scene_path %>
