<p>
  <strong>Title:</strong>
  <%= @scene.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @scene.summary %>
</p>
<p>
  <strong>Content:</strong>

  <%=  @scene.content.html_safe %>
</p>

<p>
  <strong>Characters:</strong><BR>
  <% @characters.each do |c| %>
    <%= c.name %><BR>
  <% end %>
</p>

<p>
  <strong> Location:</strong>
  <% if @location %>
  <%= @location.name %>
  <% end %>
</p>