<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @scene.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @scene.summary %>
</p>

<p>
  <strong>Content:</strong>
  <%= @scene.content %>
</p>

<p>
  <strong>Order:</strong>
  <%= @scene.order %>
</p>

<%= link_to 'Edit', edit_novel_scene_path(:id=> @scene , :novel_id=>@scene.novel_id) %> |
<%= link_to 'Back', user_novel_path(:user_id => current_user.id, :id=>@scene.novel_id) %>
