<h1 align="center">Write Your Novel Anywhere</h1>
<img src="assets/manuscript.jpg" align="center"><br/>
<div id="user_nav">
  <% if current_user %>
    Welcome, <%= current_user.name %>!
  <%= link_to "Sign Out", signout_path %>
  <% else %>
    <%= link_to "Sign in with Goggle", "/auth/google_oauth2" %>
  <% end %>
  <p>
  <strong>Don&rsquo;t use these services?</strong>
  <%= link_to "Create an account", "/auth/identity/register" %> or
  <%= link_to "login", "/auth/identity" %> with a password.
</p>
</div>