<%= form_for(@novel) do |f| %>
  <% if @novel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@novel.errors.count, "error") %> prohibited this novel from being saved:</h2>

      <ul>
      <% @novel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :genere %><br>
    <%= f.text_field :genere %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
 <div class="filed">  
    <%= f.hidden_field  :user_id , value: params[:user_id] %> <BR>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 