<div class="mainbody">
<% logger.debug "#{action_name}  #{params}" %>
<p>
  <strong>Title:</strong>
  <%= best_in_place @novel ,:title %>
  <%# @novel.title %>
</p>

<p>
  <strong>Genere:</strong>
  <%= best_in_place @novel ,:genere %>
  <%# @novel.genere %>
</p>

<p>
  <strong>Description:</strong>
  <%= best_in_place @novel, :description %>
  <%# @novel.description %>
</p>
<div class="scenesList">
<ul id="scenes">
<%# fetch the scenes ordered by the order field %>
<% @novel.scenes.order(:order).each do |scene| %>
  <% logger.debug "first scene #{scene}" %>
 <%#  #http://stackoverflow.com/questions/8531306/how-to-use-rails-named-route-helpers-with-parameters %> 
  <%= content_tag_for( :li , scene ) do %>
    <%=  scene.title %> <%= link_to 'Edit Scene' , edit_scene_path(:id =>scene) %> 
  <% end %>
<% end %>
</ul>
</div>

<BR>
<%= link_to 'Create a New Scene', new_scene_path%> <BR>
<%= link_to 'Create a New Character', new_character_path %><BR> 
<%= link_to 'Create a New Location', new_location_path %> <BR>


<% content_for(:novelNav) do %>
 <%= link_to 'novels', novels_path(current_user) %>
<% end %>
</div>