<% content_for :head do %>
<script>
    $(function() {
      $( "#scene-list" ).sortable();
      $( "#scene-list" ).disableSelection();
      $( "#scene-list" ).on("sortupdate" , function(e){ console.log($("#scene-list").sortable("serialize"))});
    });
</script>
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= best_in_place @novel ,:title %>
</p>

<p>
  <strong>Genere:</strong>
  <%= best_in_place @novel ,:genere %>
</p>

<p>
  <strong>Description:</strong>
  <%= best_in_place @novel, :description %>
</p>
<ul id="scene-list">

<% @novel.scenes.sort! { |a,b| a.order <=> b.order }.each do |scene| %>
 <%  #http://stackoverflow.com/questions/8531306/how-to-use-rails-named-route-helpers-with-parameters %> 
  <li id="<%= "id_" + scene.id.to_s %>">  <%=  scene.title %>  <%= scene.order %> <%= link_to 'Edit Scene' , edit_novel_scene_path(:novel_id=> @novel , :id =>scene) %> </li>
<% end %>
</ul>
<BR>
<%= link_to 'Create a New Scene', new_novel_scene_path(:novel_id=>@novel.id) %> 
<%= link_to 'Create a New Character', new_novel_character_path(:novel_id=>@novel.id) %> 
<%= link_to 'Create a New Location', new_novel_location_path(:novel_id=>@novel.id) %> 
