<h1>Listing characters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Alias</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @novel.characters.each do |character| %>
      <tr>
        <td><%= character.name %></td>
        <td><%= character.alias %></td>
        <td><%= character.description %></td>
        <td><%= link_to 'Show', novel_character_path(:id => character, :novel_id => session[:current_novel]) %></td>
        <td><%= link_to 'Edit', edit_novel_character_path(:id => character, :novel_id => session[:current_novel]) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Character', new_novel_character_path(:novel_id => @novel) %>
