<!DOCTYPE html>
<html>
<head>
  <title>Novel Anywhere</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
  <div class="header">
    <div class="navigation">
      <% if session[:user_id] %>
      <%= link_to 'profile', profile_path(current_user.profile) %>
      <%= yield :novelNav %>
        <% if session[:current_novel] %>
          <%# link_to 'novel', user_novel_path(:user_id=> session[:user_id] , :id => session[:current_novel]) %>
          <%= link_to 'novel', novel_path(:id => session[:current_novel]) %>
        <% else %>
          <%= link_to 'novels',novels_path %>
        <% end %>
      <% if session[:current_novel] %>
      <%= link_to 'scenes' , scenes_path %>
          <%= link_to 'characters' , characters_path %>
          <%= link_to 'locations'  , locations_path %>

        <% end %>
      <% end %>
    </div>
    <div class="user-control">
      <% if session[:user_id] %>
        Hi! <%= current_user.name %> ,  <%= link_to "Sign Out", signout_path %>
      <%end %>
    </div>
  </div>
<body class='<%= controller.controller_name %>'>
<% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
<%= yield %>
<div class="footer" >
  This is a footer
  </div>
</body>
</html>
